/*SOBRE MI*/

.about {
    text-align: center;

    img {
        width: 200px;
        height: 174px;
        border-radius: 10px;
    }

    p {
        line-height: 2;
    }

    h2 {
        margin: 16px;
    }
}

.sobreMi {
    padding: 24px 0px;
    text-align: center;
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "html css"
        "adm bart"
        "boton boton"
    ;
    gap: 15px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: $colorTextos;
    color: $colorFondoGeneral;


    h3 {
        margin: 8px 0px;
        grid-area: titulo;
        font-size: 2.6rem;
        font-weight: 500;
    }

    div {
        display: inline-block;

        .conocimientos1 {
            grid-area: html;
        }

        .conocimientos2 {
            grid-area: css;
        }

        .conocimientos3 {
            grid-area: adm;
        }

        .conocimientos4 {
            grid-area: bart;
        }

        p {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;
            width: 110px;
            height: 100px;
            margin: 8px;
            padding: 4px;
            font-size: 18px;
        }
    }

    #cv {
        width: 140px;
        height: 48px;
        background-color: $colorFondoGeneral;
        border: 1px solid $colorTextos;
        box-shadow: 2px 2px 4px #07133f32;
        border-radius: 6px;
        margin: 2rem 1rem;
        grid-area: boton;

        a {
            text-decoration: none;
            color: $colorTextos;
            font-weight: 600;
            font-size: 18px;
        }
    }
}

/*CONTACTO*/

.formulario {
    width: 90%;
    max-height: 708px;
    margin: 18px;

    h1 {
        margin-bottom: 32px;
    }

    div {
        input {
            font-size: 16px;
            margin: 8px 0px 32px 0px;
            border: 1px solid $colorTextos;
        }

        textarea {
            font-size: 16px;
            border: 1px solid $colorTextos;
        }

    }

    .novedades {
        display: flex;
        align-items: center;

        .check {
            margin: 4px;
        }

        label {
            margin: 4px;
        }
    }

    .botonesFormulario {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 8px;
    }

    .opcionesFormulario {
        width: 140px;
        height: 48px;
        margin: 16px;
        background-color: $colorFondoGeneral;
        border: $colorTextos 1px solid;
        border-radius: 6px;
        box-shadow: 2px 2px 4px #07133f32;
        color: $colorTextos;
        font-weight: 600;
        font-size: 18px;
    }
}



/*SERVICIOS*/

.carrusel {

    h2 {
        color: $colorFondoGeneral;
    }

    img {
        width: 100%;
    }

    p {
        color: $colorTextos;
        font-weight: 500;
    }
}

.texto {
    div {
        margin: 8px 0px 32px 0px;

        p {
            text-align: center;
        }
    }
}

.sectionReferencias {
    border: 2px dotted $colorCards;
    background-color: $colorCards2;
    border-radius: 10px;
    padding: 16px;
    margin: auto;

    h2 {
        text-align: center;
        margin-bottom: 32px;
    }

    .referencias {
        h3 {
            margin-bottom: 16px;
        }

        img {
            margin-bottom: 16px;
            @include estiloImg;
        }
    }
}

/*PORTAFOLIO*/

.portafolio {

    .trabajos {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 8px;

        li {
            width: 70%;
            padding: 32px;
            margin: 16px 0px;
            background-color: $colorFondoGeneral;
            border: 1px solid $colorTextos;
            box-shadow: 2px 2px 4px #07133f32;
            border-radius: 6px;
            text-align: center;

            a {
                color: $colorTextos;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 2rem;
            }
        }
    }
}

@media (min-width:600px) and (max-width:1023px) {
    .contenedorForm {
        display: flex;
        flex-direction: column;
        align-items: center;

        .formulario {
            width: 70%;
        }
    }
}


@media (min-width:1024px) {
    /*SOBRE MI*/

    .bodySobreMi {
        display: grid;
        grid-template-areas:
            "header header"
            "conocimientos main"
            "conocimientos main"
            "pieDePagina pieDePagina"
        ;
        column-gap: 3rem;


    }

    .about {
        grid-area: main;
        font-size: 2rem;
        font-weight: 300;
        padding: 16px 64px;

        .section-title {
            margin: 9px 0px;

            h1 {
                text-align: left;
                margin: 32px 0px;
            }

            p {
                text-align: left;
            }
        }

        .row {

            h2 {
                margin-left: 0px;
                margin-bottom: 1.6rem;
                text-align: left;
            }

            img {
                display: none;
            }

            div {
                p {
                    text-align: left;
                }
            }
        }
    }

    .sobreMi {
        background-color: $colorTextos;
        display: grid;
        grid-template-areas:
            "titulo titulo"
            "html css"
            "adm bart"
            "boton boton"
        ;
        gap: 20px;
        justify-content: center;
        align-items: center;
        justify-items: center;
        grid-area: conocimientos;
        width: 480px;
        height: 600px;
        padding-left: 32px;
        padding: 16px;

        h3 {
            font-size: 2.8rem;
            font-weight: 600;
        }

        div {
            p {
                color: $colorFondoGeneral;
                background-color: $colorTextos;
            }
        }

        #cv {
            &:hover {
                background-color: $colorCards;
                transition: 2s;
            }

            a {
                &:hover {
                    color: $colorFondoGeneral;
                }
            }
        }
    }

    .animacion {
        animation-name: animacion;
        animation-timing-function: ease-in;
        animation-duration: 3s;
    }

    @keyframes animacion {

        0% {
            opacity: 0%;
        }

        50% {
            opacity: 50%;
        }

        100% {
            opacity: 100%;
        }
    }

    /*CONTACTO*/

    .formulario {
        width: 500px;
        grid-area: formulario;

        div {
            font-size: 2rem;

            input {
                font-size: 1.5rem;
            }
        }
    }

    .opcionesFormulario {
        width: 100px;
        height: 50px;
        font-size: 12px;

        &:hover {
            background-color: $colorCards;
            transition: 2s;
            color: $colorFondoGeneral;
        }
    }

    /*SERVICIOS*/

    .sectionReferencias {
        max-width: 1024px;
    }

    /*PORTAFOLIO*/

    .portafolio {

        .trabajos {

            li {
                a {
                    font-size: 3rem;
                }
            }
        }
    }
}